<?xml version='1.0' encoding='utf-8'?>
<widget 
  id="com.sensestudios.zoomintv.news" 
  version="1.0.0" 
  versioncode="10"
  xmlns="http://www.w3.org/ns/widgets" 
  xmlns:gap="http://phonegap.com/ns/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
>

    <name>ZoominTV News</name>
    <description>ZoominTV News Channel</description>
    <author email="info@zoomin.tv" href="http://zoomin.tv">ZoominTV</author>
    
    <!-- <content src="http://develop.sense-studios.com:35000" /> -->
    <content src="http://zoomintvnews.herokuapp.com" />
    <access origin="*" />
    
    <!-- platforms -->
    <gap:platform name="ios" />
    <gap:platform name="android" />

    <!-- plugins -->
    <gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.6" />
    <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />    
    <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.3" />
    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />
    <gap:plugin name="com.phonegap.plugins.barcodescanner" version="2.0.0" />
    
    <!-- ios specific -->
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="StatusBarOverlaysWebview" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="target-device" value="handset" /> <!-- ios phone only -->    
    <gap:config-file platform="ios" parent="UIStatusBarHidden">
      <true/>
    </gap:config-file>    
    <gap:config-file platform="ios" parent="AllowInlineMediaPlayback">
      <true/>
    </gap:config-file>    
    <gap:config-file platform="ios" parent="MediaPlaybackRequiresUserAction">
      <false/>
    </gap:config-file>
    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
      <false/>
    </gap:config-file>
    
    <!-- android specific -->
    <preference name="fullscreen" value="true" />
    <preference name="permissions" value="none"/>
    
    <!-- both -->
    <!-- <preference name="SplashScreen" value="splash" /> -->
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="8000" />        
        
    <!-- icon -->
    <gap:icon src="res/both/icon/icon.png" />
    
    <!-- icon android -->
    <icon gap:platform="android" src='res/android/icon/ldpi.png' gap:qualifier='ldpi' />
    <icon gap:platform="android" src='res/android/icon/mdpi.png' gap:qualifier='mdpi' />
    <icon gap:platform="android" src='res/android/icon/hdpi.png' gap:qualifier='hdpi' />
    <icon gap:platform="android" src='res/android/icon/xhdpi.png' gap:qualifier='xhdpi' />     
  
    <!-- icon ios -->
      <!-- iOS 7.0+ -->
      <!-- iPhone / iPod Touch  -->
    <icon gap:platform="ios" src="res/ios/icon/Icon-60@2x.png" width="120" height="120" />
      <!-- iPad -->
    <icon gap:platform="ios" src="res/ios/icon/Icon-76.png" width="76" height="76" />
    <icon gap:platform="ios" src="res/ios/icon/Icon-76@2x.png" width="152" height="152" />
      <!-- iOS 6.1 -->
      <!-- Spotlight Icon -->
    <icon gap:platform="ios" src="res/ios/icon/Icon-Small-40.png" width="40" height="40" />
    <icon gap:platform="ios" src="res/ios/icon/Icon-Small-40@2x.png" width="80" height="80" />
      <!-- iPhone / iPod Touch -->
    <icon gap:platform="ios" src="res/ios/icon/Icon.png" width="57" height="57" />
    <icon gap:platform="ios" src="res/ios/icon/Icon@2x.png" width="114" height="114" />
      <!-- iPad -->
    <icon gap:platform="ios" src="res/ios/icon/Icon-72.png" width="72" height="72" />
    <icon gap:platform="ios" src="res/ios/icon/Icon-72@2x.png" width="144" height="144" />
      <!-- iPhone Spotlight and Settings Ico/iconn -->
    <icon gap:platform="ios" src="res/ios/icon/Icon-Small.png" width="29" height="29" />
    <icon gap:platform="ios" src="res/ios/icon/Icon-Small@2x.png" width="58" height="58" />
      <!-- iPad Spotlight and Settings Icon /icon-->
    <icon gap:platform="ios" src="res/ios/icon/Icon-Small-50.png" width="50" height="50" />
    <icon gap:platform="ios" src="res/ios/icon/Icon-Small-50@2x.png" width="100" height="100" />
    
    <!-- splash -->
    <gap:splash src="splash.9.png" width="1536" height="2048" />
    
    <!-- splash android -->
    <gap:splash gap:platform="android" src="splash.9.png" gap:qualifier="ldpi" /> <!-- 120dpi LDPI- icon-32x32, splash-426x320 -->
    <gap:splash gap:platform="android" src="splash.9.png" gap:qualifier="mdpi" /> <!-- 160 dpi MDPI- icon-48x48, splash-470x320 -->
    <gap:splash gap:platform="android" src="splash.9.png" gap:qualifier="hdpi" /> <!-- 240dpi HDPI- icon 72x72, splash- 640x480 -->
    <gap:splash gap:platform="android" src="splash.9.png" gap:qualifier="xhdpi" /> <!-- 320dpi XHDPI- icon-96x96, splash- 960x720-->
    <gap:splash gap:platform="android" src="splash.9.png" gap:qualifier="fr-xhdpi" /> <!-- ? -->
    <gap:splash gap:platform="android" src="splash.9.png" gap:qualifier="port-xxhdpi" /> <!-- 480dpi XXHDPI- icon- 144x144 -->
    <gap:splash gap:platform="android" src="splash.9.png" gap:qualifier="land-xxhdpi" /> <!-- 480dpi XXHDPI- icon- 144x144 -->
    
    <!-- splash ios -->
    <gap:splash gap:platform="ios" src="res/ios/splash/screen-iphone-portrait.png" width="320"  height="480" />
    <gap:splash gap:platform="ios" src="res/ios/splashsplash/screen-iphone-portrait-2x.png" width="640"  height="960" />
    <gap:splash gap:platform="ios" src="res/ios/splashsplash/screen-iphone-landscape.png" width="480"  height="320" />
    <gap:splash gap:platform="ios" src="res/ios/splashsplash/screen-iphone-landscape-2x.png" width="960"  height="640" />
    <gap:splash gap:platform="ios" src="res/ios/splashsplash/screen-portrait_768_1024.png" width="768"  height="1024" />
    <gap:splash gap:platform="ios" src="res/ios/splashsplash/screen-ipad-portrait-2x.png" width="1536" height="2008" />
    <gap:splash gap:platform="ios" src="res/ios/splashsplash/screen-portrait_1024_768.png" width="1024" height="768" />
    <gap:splash gap:platform="ios" src="res/ios/splashsplash/splash_2048_1496.png" width="2048" height="1496" />
    <gap:splash gap:platform="ios" src="res/ios/splashsplash/screen-iphone-portrait-568h-2x.png" width="640"  height="1136" />
        
</widget>
